body {
    font-family: Arial;
    margin: 0;
    background: #f0f2f5;
}

.header {
    background: #2c3e50;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.container {
    display: flex;
    padding: 20px;
}

.quiz-box {
    width: 70%;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.side-panel {
    width: 25%;
    margin-left: 20px;
    background: white;
    padding: 15px;
    border-radius: 10px;
}

.option {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
}

.option:hover {
    background: #dfe6e9;
}

.selected {
    background: #74b9ff;
    color: white;
}

.nav-buttons {
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}

#question-numbers {
    display: flex;
    flex-wrap: wrap;
}

.qnum {
    width: 35px;
    height: 35px;
    margin: 5px;
    text-align: center;
    line-height: 35px;
    background: #dcdde1;
    cursor: pointer;
}

.qnum.answered {
    background: #00b894;
    color: white;
}

.result-box {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
}
